@page
@model PatientApp.Pages.Slots
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Slots</title>
</head>
<body>
<div>
    <h1>Choose a time slot</h1>
    <form method="post">
        @foreach (var slot in Model.SlotCollection)
        {
            <a asp-page="./BookVisit" asp-route-time="@slot.Time">@slot.Time</a>
        }
    </form>
</div>

</body>
</html>